<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= filename %></title> <!-- Dynamically set the title as filename -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10">
        <a class="text-blue-500 inline-block mb-10" href="/">Go Back to Home</a>
        
        <!-- Display filename dynamically -->
        <h1 class="text-white text-3xl mb-5"><%= filename %></h1>

        <!-- Display file content dynamically -->
        <p class="text-xl text-gray-400 mt-2 whitespace-pre-wrap">
            <%= content %> <!-- 'content' will be the text content of the file -->
        </p>
    </div>
</body>
</html>
